@import '../../styles/_mixins';

section.projects {
  background: black;
  margin-bottom: 2rem;
  h2 {
    font-size: 2.6rem;
    color: white;
    @include font-backslant(700);
    text-align: center;
    padding: 2.4rem 0;
  }
}
