/* Media Queries
========================================================================== */

$breakpoints: (
  'phone-small': 375px,
  'phone-large': 425px,
  'phone': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width + 1px;
    }
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/* Fonts
========================================================================== */

@mixin font-slanted($weight: 700) {
  font-family: var(--font-slanted);
  font-weight: $weight;
}
@mixin font-backslant($weight: 300) {
  font-family: var(--font-backslant);
  font-weight: $weight;
}

/* Centering */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Push-auto */
/* To quickly centre a block element without having to worry about if there's any top or bottom margin already applied. */
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
