/* Root Variables
  ========================================================================== */

:root {
  --container-inner-width: 65ch;
  --border: #e1e1e1;
  --border-radius: 4px;
  --text-shadow: 0px 1px 10px var(--white-true);
  --transition: 0.4s all ease;

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-black-soft: hsl(0, 0%, 10%);

  --color-accent: #0b4bc3;
  --color-accent-100: #091c58;
  --color-accent-2: hotpink;
  --color-steel-blue: #b7c9e4;
}

// :root {
//   color-scheme: light;
//   --theme-bg: var(--color-steel-blue);
// }
// :root {
//   color-scheme: dark;
//   --theme-bg: var(--color-black-soft);
// }

// body {
//   background: var(--theme-bg);
// }

// ::selection {
//   color: var(--theme-accent);
//   background-color: rgba(var(--theme-accent-rgb), var(--theme-accent-opacity));
// }
