---
import Head from '@components/Head.astro';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';

const permalink = 'https://tris.codes/';
const title = 'Home';
const description =
  'Tristan Michael Lawrence is a web developer, internet designer, and music producer from Toronto, Canada.';
---

<html lang="en">
  <Head {title} {description} {permalink} />
  <Layout>
    <Hero />
    <Projects />

    <h2>
      I’m just a boy who loves to create—<a href="mailto:trislaw@gmail.com">Msg me</a> and let’s see
      if we can find a way to solve your problems (not those kind of problems)...
    </h2>
  </Layout>
</html>

<style lang="scss">
  h2 {
    font-size: 1.6rem;
    padding: 5rem 4rem;
    text-align: center;
    a {
      color: var(--color-accent);
      text-decoration-color: var(--color-black);
      transition: var(--transition);
      &:hover,
      &:focus {
        color: var(--color-black);
        transition: var(--transition);
      }
    }
  }
</style>
