<footer>
  <div class="inner-wrapper">
    <p class="links">Twitter ⸱ GitHub ⸱ LinkedIn</p>
    <p class="links">Instagram ⸱ Nightizm ⸱ SoundCloud</p>
    <p class="name">Tristan Lawrence — tris.codes</p>
    <p class="copyright">Built w/ tender loving care ✨ 🌸 ⸱</p>
  </div>
</footer>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;

  footer {
    background: var(--color-black);
    margin-bottom: 0;
    color: white;
    padding: 2.5rem 0;
    p:not(:last-child) {
      margin-bottom: 0.7rem;
    }

    .links {
      color: #acacac;
      font-size: 1.2rem;
      @include font-backslant(300);
      line-height: 2;
    }
    .name {
      margin-bottom: 1.6rem !important;
    }
    .copyright {
      color: #acacac;
      font-size: 1.2rem;
      position: relative;
      margin-left: 3rem;
    }
    .copyright::before {
      content: '';
      @include centered;
      position: absolute;
      left: -4rem;
      width: 6rem;
      height: 0.1rem;
      background: white;
    }
  }
</style>
