<footer>
  <div class="inner-wrapper">
    <p class="links">Twitter ⸱ GitHub ⸱ LinkedIn</p>
    <p class="copyright">
      ©2022 ⸱ <span>tris.codes</span> / <span>Nightizm</span> ⸱ ⸱ ⸱ ⸱ ⸱ ⸱
    </p>
  </div>
</footer>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;

  footer {
    background: var(--color-black);
    margin-bottom: 0;
    color: white;
    padding: 1.5rem 0;

    .links {
      color: #acacac;
      font-size: 1.2rem;
      @include font-backslant(300);
      line-height: 2;
      margin-bottom: 0.5rem !important;
    }
    .copyright {
      color: #acacac;
      font-size: 1.2rem;
      position: relative;
      margin-left: 3rem;
      span {
        color: var(--color-white);
      }
    }
    .copyright::before {
      content: '';
      @include centered;
      position: absolute;
      left: -4rem;
      width: 6rem;
      height: 0.1rem;
      background: white;
    }
  }
</style>
