<header class="header">
  <a href="https://tris.codes" class="url">
    <p class="url-top">https<span class="punctuation">://</span></p>
    <p class="url-bottom">
      <span class="keyword">tris<span class="punctuation">.</span></span>codes<span
        class="punctuation">/</span
      >
    </p>
  </a>
</header>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;

  .header {
    padding: 1rem;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 2rem;
    .url {
      color: #848484;
      display: inline-block;
      flex-direction: column;
    }
    .punctuation {
      color: #4a4a4a;
      font-weight: 400;
    }
    .keyword {
      color: #000000;
      font-weight: 400;
    }
  }
</style>
