---
import URL from '@components/URL.astro';
---

<header class="header">
  <nav class="inner-wrapper">
    <URL domain="tris" tld="codes" url="https://tris.codes" />
  </nav>
</header>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;

  .header {
    border-bottom: 1px solid var(--border);
    padding: 0.8rem 0;
    margin-bottom: 0;
  }
</style>
