<div class="inner-wrapper">
  <header>
    <h1>
      Tris is a <span>web developer</span>, <span>internet designer</span>, and <span
        >digital musician</span
      > living in <span
        ><a
          href="https://www.google.com/maps/place/Roncesvalles,+Toronto,+ON/@43.6492166,-79.4666136,13.88z/data=!4m5!3m4!1s0x882b3435151610c3:0x6ab1c317fbe64de0!8m2!3d43.6463166!4d-79.4490678?hl=en"
          >Roncy</a
        ></span
      >.
    </h1>
  </header>
</div>

<style lang="scss">
  @use '../styles/_mixins' as *;

  header {
    padding: 6rem 4rem;
    h1 {
      font-size: 1.6rem;
      text-align: center;
      span:nth-of-type(1) {
        @include font-backslant(700);
      }
      span:nth-of-type(2) {
        font-weight: 700;
      }
      span:nth-of-type(3) {
        @include font-slanted(700);
      }
      span:nth-of-type(4) {
        text-decoration: underline;
        color: #715cf4;
      }
    }
  }
</style>
