---
import SectionTitle from '@components/SectionTitle/';
import Project from '@components/Project.astro';
---

<SectionTitle client:idle />

<section class="projects-wrapper">
  <div class="inner-wrapper">
    <Project
      domain="signal1"
      url="https://signal1.ai/"
      tld="ai"
      details="Built w/ plain ol' HTML, CSS, and JavaScript"
    />
    <Project
      domain="nightizm"
      tld="com"
      url="https://nightizm.com"
      details="Built w/ React and Next.js — design by Tris"
    />
    <Project domain="junocollege" tld="com" url="https://junocollege.com" />
    <Project
      domain="stephfirka"
      tld="com"
      url="https://stephfirka.com"
      details="Built w/ Vue and Nuxt"
    />
    <Project
      domain="discndat"
      tld="co"
      url="https://discndat.co"
      details="Build w/ React and Next.js — design by Tris"
    />
    <Project
      domain="kathrynbowen"
      tld="com"
      url="https://kathrynbowen.com"
      details="Built w/ Shopify and Liquid"
    />
    <Project
      subdomain="moodsong"
      domain="tris"
      tld="codes"
      path="moodsong"
      url="https://moodsong.tris.codes"
      details="Built w/ HTML, CSS, and jQuery"
    />
    <Project
      domain="github"
      tld="com"
      path="tr1s/tris-webpack-boilerplate"
      url="https://github.com/tr1s/tris-webpack-boilerplate"
      details="Built w/ JavaScript and Webpack"
    />
  </div>
</section>

<script> </script>

<style lang="scss">
  .projects-wrapper {
    counter-set: project-counter;
  }
</style>
