---
import SectionTitle from '@components/SectionTitle/';
import Project from '@components/Project.astro';
---

<SectionTitle client:idle />

<section class="projects-list">
  <div class="inner-wrapper">
    <Project domain="stephfirka" tld="com" url="https://stephfirka.com" />
    <Project domain="nightizm" tld="com" url="https://nightizm.com" />
    <Project domain="junocollege" tld="com" url="https://junocollege.com" />
    <Project domain="discndat" tld="co" url="https://discndat.co" />
    <Project domain="kathrynbowen" tld="com" url="https://kathrynbowen.com" />
    <Project domain="signal1" url="https://signal1-dev.netlify.app/" />
    <Project
      subdomain="moodsong"
      domain="tris"
      tld="codes"
      path="moodsong"
      url="https://moodsong.tris.codes"
    />
    <Project
      domain="github"
      tld="com"
      path="tr1s/tris-webpack-boilerplate"
      url="https://github.com/tr1s/tris-webpack-boilerplate"
    />
  </div>
</section>

<style lang="scss">

</style>
