---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<body class="wrapper default-layout">
  <div class="container">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</body>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;

  body.wrapper {
  }

  .container {
    max-width: 375px;
    @include push--auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    overflow: hidden;
    @include mq(phone-small, min) {
      border: 2px solid var(--border);
    }
    & > :global(*) {
      grid-column: 1 / -1;
    }
  }
</style>
